.services {
	@include pg-100;

	&__row {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		gap: 40px;

		@media (min-width:$pc) {
			column-gap: 120px;
		}

		&:nth-child(odd) {
			flex-direction: row-reverse;
		}


		&:not(:last-child) {
			margin-bottom: 70px;
		}

		@media (min-width:$pc) {
			&:not(:last-child) {
				margin-bottom: 140px;
			}
		}

	}

	&__image-holder {
		width: 100%;
		overflow: hidden;
		position: relative;
		flex: 1 0 0;
		min-width: 280px;
		@include box-shadow;

		@media (min-width:$pc) {
			max-width: 600px;
			flex: none;
		}

		&::before {
			content: '';
			@include overlay-20;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 0.4s ease-in-out;
		}


		&:hover {
			img {
				transform: scale(1.04);
			}

			&::before {
				opacity: 0;
			}
		}

	}

	&__content-box {
		flex: 1 0 0;
		min-width: 280px;

		@media (min-width:$pc) {
			flex: none;
			width: calc(100% - 720px);
			min-width: unset;
		}

		h3 {
			i {
				font-style: normal;
				color: $blue;
				letter-spacing: 0.64px;
			}

			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}
	}

	&__text-holder {
		color: $text;

		p {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}
}